#report-display-outer-wrap {
  margin: 0;
  padding: 5pt;
  text-indent: 0;
  border: 5pt solid black;
}

#report-display-inner-wrap {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10pt;
  padding-bottom: 10pt;
  text-indent: 0;
  border: 2pt solid black;
}

#report-header {
  display: flex;
}

h1 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 28pt;
}

h2 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 26pt;
}

h4 {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 11.5pt;
}

.s1 {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 550;
  text-decoration: underline;
  text-underline-offset: 3pt;
  font-size: 11.5pt;
}

.s2 {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 550;
  text-decoration: none;
  font-size: 12pt;
}

.s3 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

.s4 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 10pt;
}

.s5 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 10pt;
}

.s6 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 10pt;
}

.s7 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 10pt;
}

.s8 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 12.5pt;
}

.s9 {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14.5pt;
}

.s10 {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 510;
  text-decoration: none;
  font-size: 11.5pt;
}

p {
  color: #010202;
  font-family: Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 10.5pt;
  margin: 0pt;
}

h3 {
  color: #010202;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
}

.conclusion {
  font-weight: 550;
}